<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} THREAD=[%thread] LEVEL=%-5level
				CLASS="%class{0}" METHOD="%method{0}" -%msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- 3rd Party loggers -->
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.apache" level="ERROR" />
	<logger name="javax.*" level="ERROR"></logger>

	<!-- Application Loggers -->
	<logger name="com.service.user" level="INFO" />
	<logger name="com.user" level="INFO" />

	<root level="DEBUG">
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>
